@charset "utf-8";

/*
2020-03-27
*/

/*登入页右上角三点改注册*/
.jinsom-login-form .right a {
	z-index: 10;
	text-indent: -9999px;
}

.jinsom-login-form .right:after {
	content: "注册";
	position: absolute;
	right: 10px;
	z-index: 9;
}

/*论坛加号左移*/
.jinsom-bbs-publish-icon {
	left: 80%;
}

/*昵称旁边标签看过去居中*/
.jinsom-mark {
	padding: 0.4vw 1.2vw;
	vertical-align: 0.6vw;
	font-size: 2.5vw;
	border-radius: 0.2vw;
}

/*关注*/
.navbar .right .follow {
	background-color: #88ada6;
	border: #ffffff 1px solid;
	line-height: 6vw;
}

/*已关注*/
.navbar .right .follow.has {
	background-color: #88ada6;
	color: #ffffff;
	width: 120%;
	line-height: 6vw;
}

/*用户个人页面顶部昵称*/
.navbar .center font {
	color: #fff !important;
}
