@charset "utf-8";

/*
2020-03-27
*/

/*导航栏间距*/
.jinsom-menu>ul>li {
	padding: 0 20px;
}

/*导航栏底部加阴影效果*/
.jinsom-header {
	box-shadow: 0 1px 2px rgba(131, 131, 131, 0.42);
}

/*搜索界面*/
body {
	overflow: auto !important;
}

.jinsom-pop-search.show {
	top: 50px;
	z-index: 1000;
	background-color: #fffffff4;
	transition: all .2s;
}

.jinsom-pop-search-container {
	margin-top: -60px;
}

.jinsom-pop-search-content input {
	border: 1px solid #88ada6;
}

.jinsom-pop-search-content span {
	background-color: #88ada6;
	color: #fff;
}

/*首页二级导航横变竖*/
/**
.jinsom-index-menu {
	width: 8%;
	position: absolute;
	top: 50px;
	left: -115px;
}

.jinsom-index-menu-list {
	display: block;
	position: fixed;
	background: #fff;
	top: 63px;
	width: 100px;
	border-radius: 6px;
}
**/

/*未登入时隐藏登录工具*/
.jinsom-main-content.sns.clear .jinsom-widget-user-login {
	display: none;
}

.logged-in .jinsom-main-content.sns.clear .jinsom-widget-user-login {
	display: block;
}

/*底部模块标题*/
.jinsom-footer-top>li>.title {
	color: #444;
}

/*头像*/
.jinsom-post-user-info-avatar img.avatar {
	height: 50px;
	width: 50px;
}

/*头像旁昵称*/
.jinsom-post-user-info-name {
	margin: 5px 0 0 50px;
}

/*头像旁昵称位置看过去居中*/
.jinsom-post-user-info {
	font-size: 16px;
}

.jinsom-post-user-info-name>a {
	font-size: 18px;
	/*font-weight: 700;*/
	vertical-align: -1.6px;
}

/*昵称旁边便签看过去居中*/
.jinsom-mark {
    padding: 0px 5px 1px 5px;
}

/*右侧卡片用户呢称看过去居中*/
.jinsom-sidebar-user-info .info .name {
    font-size: 18px;
	vertical-align: -1.6px;
}

/*个人页面用户呢称看过去居中*/
.jinsom-member-username h1 {
    vertical-align: -1.5px;
}

/*导航栏宽度55px*/
/*logo*/
.jinsom-header-content .logo a {
    height: 55px;
}
/*menu*/
.jinsom-menu>ul>li {
    line-height: 55px;
    height: 55px;
}
/*右侧*/
.jinsom-header-right>li {
    height: 55px;
    line-height: 55px;
}
/*登录按钮*/
.jinsom-header-right .login {
    margin-top: 15px;
}
/*注册按钮*/
.jinsom-header-right .reg {
    margin-top: 15px;
}
/*消息提醒框*/
.jinsom-notice ul {
    top: 55px;
}

/*导航栏注册按钮*/
.jinsom-header-right .reg {
    border: #88ada6 1px solid;
    height: 23px;
    line-height: 23px;
    width: 48px;
}

/*弹窗登录按钮*/
.jinsom-login-btn span.login {
    background-color: #88ada6;
    border: #88ada6 1px solid;
    color: #ffffff;
}

/*弹窗注册按钮*/
.jinsom-login-btn span {
    background: #ffffff;
    border: #88ada6 1px solid;
    color: #88ada6;
}
