@charset "utf-8";

/*
2020-03-27
*/

/*登入页右上角三点改注册*/
.jinsom-login-form .right a {
	z-index: 10;
	text-indent: -9999px;
}

.jinsom-login-form .right:after {
	content: "注册";
	position: absolute;
	right: 10px;
	z-index: 9;
}

/*论坛加号左移*/
.jinsom-bbs-publish-icon {
	left: 80%;
}

/*昵称旁边标签看过去居中*/
.jinsom-mark {
	padding: 0.3vw 1.2vw;
	vertical-align: 0.5vw;
	font-size: 2.5vw;
	border-radius: 0.2vw;
}

/*关注*/
.navbar .right .follow {
	background-color: #88ada6;
	border: #ffffff 1px solid;
	line-height: 6vw;
}

/*已关注*/
.navbar .right .follow.has {
	background-color: #88ada6;
	color: #ffffff;
	width: 120%;
	line-height: 6vw;
}

/*用户个人页面顶部昵称*/
.navbar .center font {
	color: #fff !important;
}

/*加号发表弹出页面*/
.jinsom-publish-type-form {
	bottom: 20px;
	height: auto;
	top: auto;
	background: none;
	text-align: center;
}
.jinsom-publish-type-form .bottom {
	background: #fff;
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 0 0 10px 10px;
	position: initial;
}
.jinsom-publish-type-form .ad {
	padding: 10px 0;
	background: #fff;
	width: 90%;
	margin: 0 auto -1px;
	border-radius: 10px 10px 0 0;
}
.jinsom-publish-type-form .close a {
	height: auto;
	line-height: initial;
	color: #fff;
	width: 0;
	border-width: 20px 20px 0;
	border-style: solid;
	border-color: #fff transparent transparent;
}
.jinsom-publish-type-form .close {
	position: initial;
	margin-top: -1px;
}
.jinsom-publish-type-form .close a i {
	display: none;
}
.jinsom-publish-type-form .bottom li {
	width: 33.3%;
}
.jinsom-publish-type-form .page-content {
	background: none;
}
.popup.jinsom-publish-type-form.modal-in .page-content {
	padding: 0;
}
.popup.jinsom-publish-type-form.modal-in {
	bottom: 60px;
}
.jinsom-bbs-publish-icon {
	bottom: 3vw;
}
.jinsom-publish-type-form .bottom li span {
	padding: 1.5vw;
}
.jinsom-publish-type-form .bottom li span {
    border-radius: 10vw;
}

/*幻灯背景圆角*/
.owl-carousel .owl-stage-outer {
    border-radius: 0vw;
}
.jinsom-mobile-slider .item a {
    border-radius: 0vw;
}

/*查看更多*/
.jinsom-post-read-more {
    color: #88ada6;
}

/*论坛排版*/
.jinsom-find-box.bbs .content li {
	width: calc(50% - 22px);
	text-align: left;
	border: 1px #eee solid;
	padding: 10px 10px;
	margin: 0;
	border-top: unset;
}
.jinsom-find-box.bbs .content li .img {
	width: 15vw;
	border-radius: 1vw;
	float: left;
}
.jinsom-find-box.bbs .content li .img img {
	border-radius: 1.5vw;
}
.jinsom-find-box.bbs .content li .name {
	width: calc(100% - 15vw);
	margin: 0;
	float: left;
	line-height: 13vw;
}
.jinsom-find-box.bbs .content li:nth-child(even) {
	border-right: unset;
	border-left: unset;
}
.jinsom-find-box.bbs .content li:nth-child(odd) {
	border-left: unset;
}
.jinsom-find-box.bbs .content li .img no-img,
.jinsom-bbs-child-show li .img no-img {
	text-align: center;
}
.jinsom-find-box.bbs .content li .name {
    font-size: 3.8vw;
}
